<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center mx-auto">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Hello everyone! I’m Iacopo, a young Italian born in 1990.<br />
I created this website to gather the things I do and read (hoping my laziness won’t stop me from keeping it updated).<br />
I was born and raised in Italy, so I apologize in advance for my English.<br />
As a hip-hop fanatic, I’d say my childhood was tough, but it wasn’t:D. I used to spend my afternoons with my friends until middle school.<br />
In high school, I started studying computer science, which is now my main passion. Until then, I was a lazy student who always avoided reading, but thanks to computer science, I started reading manuals, and gradually, I began to appreciate less technical books as well.<br />
Currently, I work as a developer and teach computer science to high school students. I enjoy practicing almost all sports, watching movies, reading, listening to podcasts, taking walks, and listening to music!</p>
            </div>
        </div>
    </div>
</section>
