<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Hello everyone! I am Iacopo, a young Italian born in 1990.<br />
I did not create this site with the presumption to be the best but as a sort of diary, to share with those who want to, and to have a place to share what I do or what I read.<br />
I was born and raised in Italy and for this I apologize in advance for my English.<br />
From hip hop fanatic I would say that my childhood was difficult, but it does not, until to middle school spent the afternoons with my friends, one by one to tell the truth, I do not know why, only for short periods have been in numerous companies.<br /><br />

In high school, things have not improved at school but I was fortunate to study informatics.<br />
I say fortunate, for various reasons, some because I did not know really what it was studying so it was a case that passion, the second reason is because the middle school professors said to me and to my mother that I would never be able to complete that school, and instead I did assholes: D<br />
Rationally informatics is a job like another but I can not imagine my life without it. Not only to know how to use the computer, but the computer has led me to read (up to 19 years I had never done). Starting from the reading of informatics are passed to read anything, psychology, physics, chemistry, current affairs etc...<br />
When I think back to how I was in high school I was a very different person, I had no interest in culture, however, now I am not a luminary but I could no longer stand without information.<br />
I do not know how the change, if it is a case, if it's age, if it is the world of work or perhaps my parents that it is as if they put me a "seed" that later blossomed, the approach culture, way of thinking and so on... and I thank them, even if I'm very different from them, I realize that the basis is the same.<br /><br />

I currently work as a developer, I like movies, walking in the mountains with friends, listen to music, skateboarding, sports and everything else in the company :)<br /><br />

...And just, I'm a regular guy, and in my spare time working on my projects, study and enjoy myself :)</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
