<section id="book" style='background-image:url("img/Book.webp"); background-size:cover; background-attachment: fixed; color:#fff;'>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center mx-auto">
                <h2 class="section-heading text-faded">Book</h2>
                <hr class="light mx-auto">
                <p class="text-faded">I'm writing a book named "La via di Mezzo".<br />
It's still a work in progress, slowly taking shape.<br />
It's a collection of notes and ideas — ranging from happiness, to environmental issues, to justice, and more.<br />
If I happen to die before it's finished, I'd like it to be published as-is.<br />
You can find it on <a href="https://github.com/iacoposk8/ViaDiMezzo" target="_blank">GitHub</a>
                    
                    <!--The last update was X days ago, so:
                    
                    If it's recent, I'm (probably) still alive 🫀
                    
                    If it's been a while... who knows. Maybe it's time to publish it.-->
                </p>
            </div>
        </div>
    </div>
</section>
