<section id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary mx-auto">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 text-center">
                <a href="https://www.instagram.com/iacoposk8/" target="_blank">
                    <img src="/img/icons/instagram.svg" width="58" height="67" class="wow bounceIn" data-wow-delay=".1s" alt="instagram logo">
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="mailto:{{ site.email }}">
                    <img src="/img/icons/envelope.svg" width="67" height="67" class="wow bounceIn" data-wow-delay=".1s" class="popup-animation" alt="email logo">
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://github.com/iacoposk8" target="_blank">
                    <img src="/img/icons/github.svg" width="58" height="67" class="wow bounceIn" data-wow-delay=".1s" class="popup-animation" alt="githhub logo">
                </a>
            </div>
        </div>
    </div>
</section>
