<header>
    <div class="header-content">
        <div id="viking-background">
            <div class="viking-tile viking-top-left"></div>
            <div class="viking-tile viking-top-right"></div>
            <div class="viking-tile viking-bottom-left"></div>
            <div class="viking-tile viking-bottom-right"></div>
        </div>
        <div class="header-content-inner">
            <img src="/img/vikinglogo.svg" fetchpriority="high" alt="Viking logo" loading="eager" decoding="async">
            <br />
            <img src="/img/claim.svg" alt="Take the world as it is, not as you’d have it.">
        </div>
    </div>
</header>
