<header>
    <div class="header-content">
        <div id="viking-background">
            <div class="viking-tile viking-top-left"></div>
            <div class="viking-tile viking-top-right"></div>
            <div class="viking-tile viking-bottom-left"></div>
            <div class="viking-tile viking-bottom-right"></div>
        </div>
        <div class="header-content-inner">
            <img src="/img/vikinglogo.svg" fetchpriority="high" alt="Viking logo" loading="eager" decoding="async">
            <br />
            <!--<img src="/img/claim.svg" alt="Take the world as it is, not as you’d have it.">-->
            <p id="claim">
                <svg viewBox="0 0 500 50" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" style="max-width: 500px;">
                  <text id="svg_text_claim" x="250" y="25" text-anchor="middle" dominant-baseline="central">
                    Don't run from what is
                  </text>
                </svg>
            </p>
        </div>
    </div>
</header>
