<nav id="mainNav" class="navbar navbar-default navbar-expand-md navbar-light navbar-fixed-top">
    <div>
        <!-- Brand and toggle for mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/">
                <img src="/img/logo.png" id="logo" alt="Logo" /> Iacopo Guarneri
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#values">Values</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#sports">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
