<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/projects/virtual-reality-treadmill" class="portfolio-box">
                    <img src="img/projects/virtual-reality-treadmill-thumb.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VR
                            </div>
                            <div class="project-name">
                                Virtual Reality Treadmill
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/projects/best-country/" class="portfolio-box">
                    <img src="img/projects/best-country-thumb.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                World
                            </div>
                            <div class="project-name">
                                Best country to live in
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/projects/apple/" class="portfolio-box">
                    <img src="img/projects/apple-vs-thumb.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Smartphone
                            </div>
                            <div class="project-name">
                                Apple Vs other brands
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/projects/vegetable_garden/" class="portfolio-box">
                    <img src="img/projects/self-sufficient-thumb.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nature
                            </div>
                            <div class="project-name">
                                Self-sufficient Vegetable Garden
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/projects/rainier-days/" class="portfolio-box">
                    <img src="img/projects/rainier-days-thumb.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Weather
                            </div>
                            <div class="project-name">
                                Rainiest Days
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/projects/joomla-extensions/" class="portfolio-box">
                    <img src="img/projects/joomla-extensions-thumb.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Extensions
                            </div>
                            <div class="project-name">
                                Joomla
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
