<section id="sports">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center mx-auto">
                <h2 class="section-heading">Sports</h2>
                <hr class="primary mx-auto">
            </div>  
        </div>
        <div class="row">
            <div class="medal-container">
                <div class="medal" id="medal1">
                    <a href="sports">
                        <img src="" alt="Medal Image 1">
                    </a>
                </div>
                <div class="medal" id="medal2">
                    <a href="sports">
                        <img src="" alt="Medal Image 2">
                    </a>
                </div>
                <div class="medal" id="medal3">
                    <a href="sports">
                        <img src="" alt="Medal Image 3">
                    </a>
                </div>
            </div>
 
            <div class="container text-center mt-5">
              <div class="call-to-action">
                  <a href="/sports" class="btn btn-default1 btn-xl wow tada">View details of my sports highlights</a>
              </div>
            </div>
        </div>
    </div>

    <script>
        // Percorso delle immagini nella cartella
        const images = [
            'img/sports/Kayak.jpg',
            'img/sports/Margherita_thumb.JPG',
            'img/sports/run5k_thumb.jpg',
        ];

        // Funzione per ottenere immagini casuali senza ripetizioni
        function getUniqueImages(imageArray, num) {
            let imagesCopy = [...imageArray];
            let selectedImages = [];
            for (let i = 0; i < num; i++) {
                let randomIndex = Math.floor(Math.random() * imagesCopy.length);
                selectedImages.push(imagesCopy[randomIndex]);
                imagesCopy.splice(randomIndex, 1); // Rimuovi l'immagine scelta
            }
            return selectedImages;
        }

        // Assegna immagini uniche a ciascuna medaglia
        let uniqueImages = getUniqueImages(images, document.querySelectorAll('.medal img').length);

        document.querySelectorAll('.medal img').forEach((img, index) => {
            img.src = uniqueImages[index];
        });

        // Aggiungi animazione allo scroll
        window.addEventListener('scroll', function() {
            var medals = document.querySelectorAll('.medal');
            var windowHeight = window.innerHeight;
            medals.forEach(function(medal) {
                var medalTop = medal.getBoundingClientRect().top;
                if (medalTop < windowHeight - 50) {
                    medal.classList.add('animate-medal');
                } else {
                    medal.classList.remove('animate-medal');
                }
            });
        });
    </script>
</section>
