<section id="values">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Values</h2>
                <hr class="primary mx-auto">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/icons/brain.svg" width="67" height="67" class="blue-icon wow bounceIn" alt="barin logo">
                    <h3>Mind</h3>
                    <p class="text-muted">The key to wisdom and serenity</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/icons/person-running.svg" width="58" height="67" class="blue-icon wow bounceIn" alt="person running logo">
                    <h3>Body</h3>
                    <p class="text-muted">Feeling the flow of energy and vitality</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/icons/leaf.svg" width="67" height="67" class="blue-icon wow bounceIn" alt="leaf logo">
                    <h3>Nature</h3>
                    <p class="text-muted">Our primordial connection and source of life</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/icons/spa.svg" width="75" height="67" class="blue-icon wow bounceIn" alt="spa logo">
                    <h3>Growth</h3>
                    <p class="text-muted">The continuous journey toward personal improvement</p>
                </div>
            </div>
        </div>
    </div>
</section>
